.header {
  padding: 30px 0;
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-list {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header__navigation-list-item:not(:first-child)::before {
  content: "//";
  margin: 0 10px;
  color: var(--color-accent);
}

.header__navigation-link {
  font-family: var(--font-accent);
  color: var(--color-accent);
  font-weight: bold;
  text-transform: uppercase;
}

.header__navigation-link--user {
  font-family: var(--font-primary);
  font-weight: 500;
  text-transform: lowercase;
}

.header__navigation-link[href] {
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__navigation-link[href]:focus,
.header__navigation-link[href]:hover {
  opacity: 0.7;
}

.header__navigation-link--active[href],
.header__navigation-link--active[href]:focus,
.header__navigation-link--active[href]:hover {
  transition: none;
  opacity: 1;
  cursor: default;
}

.header__search-form {
  display: flex;
}

.header__search-input {
  padding: 13px 11px 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--color-grey-light);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--color-black);
}

.header__search-input:focus {
  outline: 2px solid var(--color-accent);
}

.header__search-button {
  padding: 11px 14px;
  background-color: var(--color-accent);
  border-radius: 8px;
  font-family: var(--font-accent);
  font-size: inherit;
  line-height: inherit;
  color: var(--color-grey-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__search-button:focus,
.header__search-button:hover {
  opacity: 0.7;
}
